<div class="container">

  <div class="header"><label>Operations on Two Numbers</label></div>

  <div class="inputList">
    <input OnlyNumber="true" type="number" [(ngModel)]="calcFirst" id="first">
    <input OnlyNumber="true" type="number" [(ngModel)]="calcSecond" id="second">
  </div>

  <div class="buttonList">
    <button (click)="addNumbers()" id="add">Add</button>
    <button (click)="subNumbers()" id="sub">Sub</button>
    <button (click)="multiplyNumbers()" id="multiply">Multiply</button>
    <button (click)="divideNumbers()" id="divide">Divide</button>
  </div>

  <div class="total">{{total}}</div>

  <div class="reset">
    <button (click)="reset()">Reset</button>
  </div>

</div>