<div class="container">

  <div class="header"><label>Operations on Two Numbers</label></div>

  <div class="inputList">
    <input OnlyNumber="true" type="number" [(ngModel)]="calcFirst" id="first" (change)="checkEmpty()">
    <input OnlyNumber="true" type="number" [(ngModel)]="calcSecond" id="second" (change)="checkEmpty()">
  </div>

  <div class="buttonList">
    <button (click)="addNumbers()" id="add">Add</button>
    <button (click)="subNumbers()" id="sub">Sub</button>
    <button (click)="multiplyNumbers()" id="multiply">Multiply</button>
    <button (click)="divideNumbers()" id="divide">Divide</button>
  </div>

  <div class="total">{{total}}</div>

  <div class="reset"  >
    <button (click)="reset()">Reset</button>
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="dateControl"
        [min]="minDate" [max]="maxDate" [disabled]="false">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="true"
        [stepHour]="1" [stepMinute]="1" [stepSecond]="1" [touchUi]="false"
        [color]="color" [enableMeridian]="true">
      </ngx-mat-datetime-picker>
    </mat-form-field>
  </div>

</div>
